body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

input {
  width: 100%;
}

#page {
  width: 100%;
}

form {
  width: 100%;
  display: grid;

  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  grid-template-areas: 
    "n1 d1 t1"
    "n2 d2 t2"
    ".  .  btn";
}

#playerSpeedProfile {
  display: grid;

  grid-template-areas: 
  ". lbl1 val1"
  ". lbl2 val2"
  ". lbl3 val3";
}

table {
  width: 100%;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #f5f5f5;
}

.indent {
  text-indent: 4em;
}

@media only screen and (min-width: 768px) {
  #page {
    width: 50%;
  }
}